* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: black;
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding: 100px 20px;
}
.app {
  max-width: 600px;
  margin-inline: auto;
  background-color: #4cc9f0;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 20px;
}
h1 {
  letter-spacing: 2px;
  animation-name: change;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes change {
  0% {
    color: black;
  }
  50% {
    color: #ffe66d;
  }
  100% {
    color: black;
  }
}
h1 span {
  letter-spacing: 2px;
  color: #ffe66d;
  animation-name: changee;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes changee {
  0% {
    color: #ffe66d;
  }
  50% {
    color: black;
  }
  100% {
    color: #ffe66d;
  }
}
p {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 1.5rem;
}
#answer-buttons {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.btn {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: whitesmoke;
  color: black;
  text-align: start;
}
.btn:hover:not([disabled]) {
  background-color: #a9ebff;
}
.btn:disabled {
  cursor: no-drop;
}
#next-btn {
  padding: 10px 60px;
  background-color: #ffe66d;
  color: black;
  border-radius: 50px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 3px;
  transition: all ease 0.33s;
  margin-inline: auto;
  display: none;
}
#next-btn:hover {
  background-color: #a9ebff;
}

#next-btn:active {
  background-color: #fff3b6;
  transition: none;
}
.correct {
  background-color: rgb(130, 202, 130);
}
.incorrect {
  background-color: rgb(207, 117, 117);
}
